:root{
  --font-color-blue: #1769ff;
}

.no-margin{
  margin: 0 auto;
}

.title{
  font-size: 1.75rem;
  color: var(--font-color-blue);
}

main{
  text-align: center;
  height: 57rem;
  width: auto;
  padding-top: 1.5rem;
}

  main p{
    padding: 0 19rem;
  }

section{
  display: inline-block;
  margin: 0.50rem 0;
}

  section > h3{
    font-size: 3em;
    font-weight: 400;
  }

article{
  align-items: center;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
}

  article div{
    margin: 0 5rem;
    width: 20rem;
  }

  article p{
    padding: 0;
  }

  article img{
    display: block;
    margin: 1rem auto;
  }

body{
  width: 100%;
  font-family: 'Oxygen', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
  color: #333333;
}

  body h1{
    margin: 0;
    color: black;
    font-size: 5rem;
    font-weight: 400;
  }

  body a:link{
    font-weight: 700;
    text-decoration: none;
  }

  body a:-webkit-any-link{
    color: var(--font-color-blue);
  }

    body a:hover{
      cursor: pointer;
      border-bottom: 2px solid currentColor;
    }

footer{
  text-align: center;
  margin: 6rem 0 0 0;
}

p a{
  font-weight: 700;
  color: var(--font-color-blue);
  text-decoration: underline;
} 

nav span::after{
  content: "  /  ";
}
