h1, h2, h3, p{
    font-family: 'Montserrat', sans-serif;
}

a{
    color: rgb(247, 93, 93);
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    text-decoration: underline;
}

h1{
    font-size: 4.155rem;
    line-height: 2.668rem;
}

main{
    margin: 0 auto;
    width: 750px;
}

footer{
    width: 100%;
}

footer div{
    text-align: center;
}

footer > div a {
    margin: 10px;
}

.projects-container{
    width: 101%;
}

.project-cell {
    display: inline-block;
    height: 275px;
    width: 375px;
}