
html{
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

#lead {
  font-size: 20px;
}

body, main, ul, p {
  margin: 0;
}

a {
  color: #3689e6;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
}

li {
  margin: 0 12px 0 0;
}

li a {
  font-weight: lighter;
  font-size: 14px;
}

footer {
  position: absolute;
  bottom: 12px;
  right: 555px;
  height: 2rem;
  font-size: 12px;
  text-align: center;
}

.mess-container {
  position: absolute;
  top: 24px;
  left: 125px;
}
