
*{
        font-family: Geneva, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 200;
        font-size-adjust: auto;
        padding: 0;
        margin: 0;
        z-index: 1;
}

div {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 275px;
        height: 275px;
        margin-left: -137.5px;
        margin-top: -137.5px;
}

p:nth-child(4) {
	margin: 2.5px 0 5px 0;
}

ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

	/* I don't remember why this is seperated. */
        list-style: none;

	/* This either. I'm sure there is a reason for it. */
        text-transform: lowercase;

}

li {
        margin-right: 16px;
        z-index: 2;
}

a:visited, a:active, a:focus, a:hover {
        color: #0000EE;
}

/* I added the li here to test something out. Feel free to remember it.  */

li a::before {
        /* Removed the font size: 18 that used to be here. It did bad things.  */
        /* Here you go Chris, just for you. 
	 * content: "/";
	 *
	 * */
}

img {
        width: 85%;
}


@media (min-width: 320px) and (max-width: 480px) {
        *, a::before{
                font-size: 24px;
                font-weight: lighter;
        }

        /* This is just to get it off the bottom of the screen for mobile. */

        div {
                top: 215px;
        }

        img {
                display: block;
                width: 100%;
        }

        ul {
                display: block;
        }
}

/* This is a media query aiming to fix some weird spacing issue on some phones.
 * If it doesn't work, feel free to delete it. */

 @media (min-width: 375px) and (max-width: 667px) {
         img {
                 width: 60%;
                 margin: auto;
         }
         li {
                 margin: 0 16px 5 px 0;
         }
 }
