body{
    margin: 0;
}

.container{
    margin: 0;
    padding: 2rem;
}

.blue-background{
    background-color: #0f11be;
}

#h3-underline{
    text-decoration: underline;
}

#top-bottom{
    display: flex;
    justify-content: space-between;
}